.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-icon {
  display: none;
  font-size: large;
  padding: 10px;
  color: #2086a2;
  font-weight: bold;
}

.tabs {
  display: block;
  width: 95%;
  padding: 0;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #2086a2;
}

.tabs .tab {
  min-width: 20%;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: medium;
}

.tabs .tab.active, .tabs .tab:hover {
  background: #61dafb;
  -webkit-box-shadow: inset 0px -9px 12px 1px #2086a2;
  box-shadow: inset 0px -9px 12px 1px #2086a2;
  border-radius: 40px 40px 0px 0px;
}

.tabs .tab a {
  color: #282c34;
}

.tabs .tab.active a {
  color: #fff;
}

.tabs .tab.logout {
  min-width: 10%;
  border-radius: 20px 20px 0px 0px;
  background: #61dafb;
}

.tabs .user-info {
  min-width: 25%;
  display: inline-block;
  text-align: left;
  padding: 10px;
  font-size: medium;
  position: relative;
}

.tabs .user-name {
  font-weight: bold;
}

.tabs .user-avatar {
  max-width: 25px;
  margin-left: 5px;
  border-radius: 50px;
  position: absolute;
  top: 5px;
}

.tabs.phone-profile {
  display: none;
}

@media screen and (max-width: 600px) {
  section {
    border-bottom: 1px solid #2086a2;
  }
  .menu-icon {
    display: inline-block;
  }
  .tabs {
    position: absolute;
    background: #fff;
    border: 1px solid #2086a2;
    width: 60%;
    top: 25px;
  }
  .tabs .tab {
    display: block;
  }
  .tabs .tab.active, .tabs .tab:hover {
    border-radius: 0;
  }
  .tabs .tab.logout {
    background: none;
  }
  .tabs .user-info {
    display: none;
  }
  .tabs.phone-profile  {
    text-align: center;
    position: inherit;
    display: inline-block;
    margin: 0;
    border: 0px;
    width: 80%;
  }
  .tabs.phone-profile .user-info {
    display: inline-block;
  }
}

.login-container {
  text-align: center;
}

.login-container .welcome {
  width: 50%;
  margin: auto;
  background:rgba(32,134,162,0.2);
  padding: 5px;
}

.login-container .welcome.title {
  padding-top: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

.login-container .welcome.sub {
  padding-bottom: 10px;
}

.login-container .logo {
  max-width: 25%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-container .form-title {
  padding: 10px;
  color: #2086a2;
  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
}

.login-container .form {
  width: 50%;
  margin: auto;
}

.login-container .drop-down {
  width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px !important;
    border: 1px solid !important;
    border-color: #2086a2 !important;
    color: #2086a2 !important;
    min-width: unset !important;
}

.login-container .drop-down .text {
  width: 90%;
}

.login-container .drop-down .menu {
  width: 100%;
}

.login-container .login-btn {
  padding: 10px;
  width: 100%;
  background: #61dafb;
  color: #fff;
  border-color: transparent;
  border-radius: 5px;
  border-width: 0px;
  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
}

.page-container {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.card-wrapper {
  max-width: 50%;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 10px;
  box-shadow: inset 0px 0px 7px 1px #2086a2;
}

@media screen and (max-width: 600px) {
  .card-wrapper {
    max-width: 100%;
  }
}

.question-title {
  padding: 5px;
  border-bottom: 1px solid rgba(32,134,162,0.4);
  font-weight: bold;
}

.question-desc {
  padding: 10px;
  padding-left: 5px;
  text-align: left;
  font-size: smaller;
}

.question-header {
  padding: 5px;
  text-align: left;
  font-weight: bold;
}

.question-form {
  padding: 5px;
}

.question-option{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(32,134,162,0.4);
  border-radius: 5px;
  font-size: small;
}

.seperator-or {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: smaller;
}

.seperator-or span {
  width: 38%;
  border-bottom: 1px solid rgba(32,134,162,0.4);;
  display: inline-block;
}

.seperator-or .or {
  border-bottom: 0;
  width: 20%;
  padding-bottom: 5px;
}

.submit-btn {
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  background: #61dafb;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
}

.user-avatar {
  max-width: 80px;
  border-radius: 50%;
  padding-right: 5px;
}

.row {
  display: flex;
}

.col {
  display: inline-block;
  flex-grow: 1;
  border-right: 1px solid #2086a2;
  margin: auto;
}

.col:last-child {
  border-right: 0px;
}

.col.col-2 {
  flex-grow: 2;
}

.col.col-4 {
  flex-grow: 4;
}

.card-wrapper .user-name {
  font-size: large;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}

.questions-count {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  width: 100%;
  display: inline-block;
}

.questions-count .type {
  float: left;
}

.questions-count .value {
  float: right;
}

.top-score {
  padding: 10px;
  font-weight: bold;
  padding-top: 0;
}

.top-score .title {
  padding: 10px;
  font-weight: bold;
  padding-top: 0;
}

.top-score .sum {
  background: rgba(32,134,162,0.4);
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
}

.home .menu, .home .tab {
  width: 60% !important;
  margin: auto !important;
  border-bottom: 1px solid #2086a2 !important;
}

.home .ui.tabular.menu .item {
  flex-grow: 2;
}

.home .ui.tabular.menu .active.item {
  border-color: #2086a2;
  background: #61dafb;
  color: #fff;
}

.home .ui.segment {
  border: 1px solid #2086a2;
}

.home .card-wrapper {
  max-width: 100%;
  margin-top: 10px;
}

.user-name.asks {
  border-bottom: 1px solid #2086a2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.abstract-q-body {
  padding: 5px;
  padding-left: 10px;
}

.abstract-q-body .poll {
  margin-top: 5px;
}

.abstract-q-body .q-part {
  text-align: left;
}



